*.dat
x86_64/
/NeuroML2/report.*txt
/NeuroML2/*.mod
*.gv
*_nrn.py
*code.gen.c
*code.gen.so
*_netpyne.py
*_eden.py

.mypy_cache/
/NeuroML2/tests/arm64
/NeuroML2/arm64


#/NeuroML2/rotated_cells/*_sim.cell.nml
__pycache__/
